
.enter{
  background-color: white;
  padding: 10px 15px 10px 15px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;

  position: absolute;
  top: 75%;
  left: 45%;
}

.insta{
  display: flex;
}
.acount{
  font-weight: bold;
  font-size: large;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
.mail{
  display: flex;
}
.addres{
  font-weight: bold;
  font-size: large;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
.line{
  line-height: 3;
  font-size: large;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}
.pic{
  border-radius: 50%;
}
.icon{
  display: flex;
  margin-left: 40px;
}
.profile{
  margin-top: 70px;
  margin-left: 40px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;

}
.minh{
  margin-top: 40px;
  margin-left: 20px;
}
.profile2{
  margin-top: 40px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

}
.vn{
  margin-left: 30px;
}
.message{
  line-height: 45px;
  margin-top: 0;
  font-size: large;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
.we{
  text-align: right;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.viet{
  margin-top: 85px;
}
#text{
  font-family: Arial, Helvetica, sans-serif;
  color: #ee7d50;
  opacity: 0;
  animation-name: fadein-right;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  padding-left: 20px;
}



.line.insta.mail{
  margin-left: 130px;

}

.weclub{
  margin-top: 20px;
}
.getready{
  font-weight: bold;
  font-size: 45px;
}

footer{
  text-align: right;
  color: darkgrey;
  background-color: #d2ddde;
}
p {
  color: dimgrey;
}

body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;

}
main{
  flex: 1;
  background-color: #f8f9fa;
  padding-top: 150px;
  background-color: #d2ddde;
}



@keyframes fadein-right{
  0%{
    opacity: 0;
    transform: translateX(30px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
} 

@media screen and (max-width:470px){
  .wm{
    width: 300px;
  }
  .pic{
    width: 130px;
    height: 160px;

  }
  .weclub{
    width: 350px;
  }
  .weclub2{
    width: 350px;
    height: 250px;
  }
  .instaicon{
    width: 35px; height: 35px;
  }
  .mailicon{
    width: 30px;
    height: 30px;
  }
  .profile{
    margin-top: 30px;
  }
}

.padding{
  padding-left: 30px;
  padding-right: 30px;

}

#header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}


  
  



