.text-center{
  background-image: url(https://github.com/Daijiro0811/weclub/blob/master/desktop.png?raw=true);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

